

.footer{
    padding: 20px;
    margin-top: 100px;
    background-color: rgb(179, 211, 209);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px     ;

    img{
        height: 50px;

    }
}